* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6fb;
  color: #333;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #0f172a;
  color: white;
}

.navbar nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}


.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(135deg, #2563eb, #38bdf8);
  color: white;
}

.hero span {
  color: #a5f3fc;
}

.buttons {
  margin-top: 30px;
}

.btn {
  padding: 12px 22px;
  background: white;
  color: #2563eb;
  text-decoration: none;
  border-radius: 25px;
  margin: 10px;
  display: inline-block;
}

.btn.outline {
  background: transparent;
  border: 2px solid white;
  color: white;
}


.section {
  padding: 60px 20px;
  text-align: center;
}

.section h2 {
  margin-bottom: 20px;
  color: #2563eb;
}


.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 20px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}


footer {
  text-align: center;
  padding: 15px;
  background: #0f172a;
  color: white;
}


#projects {
  padding: 60px 20px;
  background-color: #f4f4f8;
}

#projects h2 {
  text-align: center;
  margin-bottom: 40px;
  color: #4a2c2a;
}


.project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  max-width: 1000px;
  margin: auto;
}

.project-card {
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card h3 {
  color: #5e3458;
  margin-bottom: 10px;
}

.project-card p {
  font-size: 15px;
  color: #555;
  line-height: 1.6;
}


.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid white;
  margin-bottom: 20px;
}


